---
# This file should be encrypted with Ansible Vault
# To encrypt: ansible-vault encrypt vars/secrets.yml
# To edit: ansible-vault edit vars/secrets.yml
# To view: ansible-vault view vars/secrets.yml
# To run playbook: ansible-playbook playbook.yml --ask-vault-pass

vault_rke2_token: "change-this-secure-rke2-cluster-token"
vault_minio_root_pass: "change-this-secure-minio-password"
vault_n8n_admin_pass: "change-this-secure-n8n-password"
